@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* about */

.overlay-about {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 312.11px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
}

.overlay-about:hover {
  opacity: 1;
}

/* footer  */
.footer-overlay {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.6;
  z-index: 0;
}

/* destination */
.card {
  background: transparent;
  transition: 0.3s;
}

.card:hover {
  background: #00000098;
}

.line:hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* tour-list page */
.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 20px; /* Adjust the value to align the icon properly */
}

.custom-select::-ms-expand {
  display: none; /* Remove the default arrow icon in Internet Explorer */
}

.date-input::-webkit-calendar-picker-indicator {
}
